.container {
  border-right: 1px solid #ddd;
  padding-top: 22px;
  position: relative;
}
.collapseIcon {
  font-size: 18px;
  color: #9b9b9b;
  position: absolute;
  right: -14px;
  top: 215px;
  cursor: pointer;
}
.logoCon {
  display: flex;
  padding-bottom: 22px;
  border-bottom: 1px solid #f7f7f7;
  padding-left: 16px;
  align-items: center;
  white-space: nowrap;
}
.logoWord {
  font-weight: bold;
  color: #444444;
  margin-left: 5px;
}
.menuIcon {
  font-size: 18px;
}
.menuName {
  font-size: 14px;
}
