.container {
  width: 100%;
  background: #f7f8fa;
  border-radius: 2px;
  text-align: center;
}
.content {
  background: #f7f8fa;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.divider {
  height: 30px;
}
.line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  width: 50px;
  height: 2px;
  border: none;
  background-color: #69c1ed;
}
.tab1 {
  width: 100%;
}
.title {
  font-family: PingFangSC-Regular;
  font-size: 36px;
  color: #4a4a4a;
  letter-spacing: 0;
}
.tip {
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0;
}
